<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %green(%-5level) [%magenta(%-36thread{36})] [%cyan(%-36logger{36})] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="io.netty" level="WARN" />
    <logger name="io.github.iamnicknack" level="DEBUG" />
    <logger name="device" level="DEBUG" />
</configuration>